<!-- sidebar.component.html -->
<div class="sidebar-container">
    <div class="overlay" *ngIf="isOpen" (click)="onClose()"></div>
    <div class="sidebar" [class.active]="isOpen">
        <nav>
            <a routerLink="/">Home</a>
            <a *ngIf="!isAuthenticated" routerLink="/login">Login</a>
            <a *ngIf="isAuthenticated" routerLink="/profile">Profilo</a>
            <a *ngIf="isAuthenticated" routerLink="/events">Eventi</a>
            <a *ngIf="isAuthenticated" routerLink="/list-organizers">Organizzatori</a>
            <hr>
            <a *ngIf="isAuthenticated" (click)="logout()">Esci</a>
        </nav>
    </div>
    <button class="menu-button" (click)="onToggle()">&#9776;</button>
</div>