@font-face {
  font-family: "GothamUltra";
  src: url("../fonts/GothamUltra.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chillax";
  src: url("../fonts/Chillax.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
