<div class="profile">
    <div class="container">
        
        <div class="row">
            <div class="col-12 px-0">
                <div class="fields">
                    <div class="title">
                        <i class="fa-regular fa-address-card"></i>
                        <span>Informazioni personali</span>
                    </div>
                    <hr>
                    <div class="items">
                        <div class="item">
                            <div class="label">
                                Nome
                            </div>
                            <div class="value">
                                {{this.user.name}} {{this.user.surname}}
                            </div>
                            <div class="arrow">
                                <i class="fa-solid fa-chevron-right"></i>
                            </div>
                        </div>
                        <div class="item">
                            <div class="label">
                                Email
                            </div>
                            <div class="value">
                                {{this.user.email}}
                            </div>
                            <div class="arrow">
                                <i class="fa-solid fa-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>