<div class="footer">
  <div class="container top">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="siteinfo-container">
          <div class="logo-wrapper">
            <img src="assets/logos/logo-ceangi.png" alt="CEANGI Italia Logo" />
          </div>
          <div class="info-container">
            <app-generic-paragraph
              [text]="'CEANGI <br> CORARIO'"
              [textColor]="'rgb(173, 170,  170)'" [size]="'14px'" [uppercase]="false" [font]="'Chillax'">
            </app-generic-paragraph>
          </div>
          <!-- <app-social-links></app-social-links> -->
        </div>

      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="links">
          <h5>Links</h5>
          <ul>
            <li><a href="#">Contattaci</a></li>
            <li><a href="#">Termini e condizioni</a></li>
            <li><a href="#">Privacy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="links">
          <h5>Contatti</h5>
          <ul>
            <li><a href="#"><i class="fas fa-phone"></i> +39 1122334455</a></li>
            <li><a href="#"><i class="fas fa-envelope"></i> info&#64;ceangi-italia.com</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="bottom">
    <div class="copyright"> CEANGI Italia © - 2024 - Made with ❤️</div>
  </div>
</div>