@import "../../../assets/scss/colors.scss";

.homepage {
  .panel-container {
    position: relative;
    width: 100%;
    height: 100%;
    .alphabet-panel {
      position: absolute; // Fissa il pannello in posizione
      width: 100%;
      left: 0;
      height: 100%;
      padding: 1rem;
      overflow-y: auto; // Permette lo scroll verticale del pannello

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: flex;
          justify-content: center;
          cursor: pointer;
          padding: 15px;
          width: 25px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: #007bff; // Cerchio blu
          color: white; // Testo bianco
          margin-bottom: 0.5rem;
          &:hover {
            background-color: #0056b3; // Cambia il colore durante l'hover
          }
          i {
            margin: 0;
            color: #fff;
          }
        }
      }
    }
  }

  // Container per la barra di ricerca
  .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    border-radius: 0.25rem;
    background-color: #0056b3; // Colore di sfondo blu

    background-color: #0056b3;
    input {
      flex: 1;
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
    }

    i {
      cursor: pointer;
      color: #ffffff; // Colore blu per l'icona di default
      padding: 0.5rem;
      margin: 0.3rem;
      border-radius: 50%; // Cerchio intorno all'icona
    }
  }

  // Stile del pulsante di ricerca e cancellazione
  button {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }

  .song-list {
    height: 80vh;
    overflow-y: auto;
    ul {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        border-bottom: 1px solid #dee2e6;

        i {
          margin-right: 0.5rem;
          cursor: pointer;
          color: #c5b8b9; // Colore per l'icona del cuore

          &.favorited {
            color: #ff5c5c; // Colore per l'icona dei preferiti
          }
        }

        a {
          text-decoration: none;
          color: #233c57;
          &:hover {
            color: #134479;
          }
        }
      }
    }
  }
}
